<?xml version="1.0"?>
<ruleset name="Project">
	<!-- Scan everything -->
	<file>.</file>

	<!-- Exclude the Composer Vendor directory. -->
	<exclude-pattern>/vendor/*</exclude-pattern>

	<rule ref="WebDevStudios"/>
</ruleset>
